@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/SpaceGrotesk/SpaceGrotesk-Variable.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  src: url('./assets/ClashDisplay/ClashDisplay-Variable.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;